
*.vsidx
*.lock
SlotMachineGame/SlotMachineGame/obj/Debug/net7.0/apphost.exe
SlotMachineGame/SlotMachineGame/obj/Debug/net7.0/SlotMachineGame.AssemblyInfo.cs
SlotMachineGame/SlotMachineGame/obj/Debug/net7.0/SlotMachineGame.AssemblyInfoInputs.cache
*.user
*.props
SlotMachineGame/SlotMachineGame/obj/SlotMachineGame.csproj.nuget.dgspec.json
*.cache
SlotMachineGame/SlotMachineGame/obj/project.assets.json
*.cache
*.editorconfig
*.v2
*.bin
SlotMachineGame/.vs/SlotMachineGame/v17/.suo
*.cache
