@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Slot Machine Game</title>
</head>
<body>
    <div class="slot-machine">



        <div class="reel" id="reel1"><img src="Slot Machine Barrel.png" alt=""></div>
        <div class="reel" id="reel2"><img src="Wheel - Banana.png" alt=""></div>
        <div class="reel" id="reel3"><img src="Wheel - Bars.png" alt=""></div>



        <button id="spin-btn">Spin</button>
        <input type="number" id="bet-amount" placeholder="Enter bet amount">
        <div id="payout"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>



<div class="text-center">
    <h1 class="display-4">Welcome to Slots</h1>



</div>

