@{
    ViewData["Title"] = "Roulette Wheel";
}

<div class="container d-flex col">
    <div id="app" class="">
        <div>
            <img class="marker" src="~/images/marker.png" />
        </div>
        <div>
            <img class="wheel" src="~/images/wheel.png" />
        </div>
        <button type="button" class="btn btn-primary button mt-4">Spin</button>
    </div>
    <div class="">
        <label>Betting Amount</label>
        <input class="form-control" />
        <button type="button" class="btn btn-secondary">Submit</button>
    </div>
</div>